@tailwind base;
@tailwind components;
@tailwind utilities;


/* Prevent subpixel color fringing on bold text over dark backgrounds (web only). */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
